langchain-cli[serve]
langserve[all]
langchain
pandas
pymongo
google-api-python-client
python-dotenv
youtube-transcript-api
pytube
octoai-sdk
openai
together
huggingface_hub
tiktoken
langchain-together
langchain-anthropic
langchain_experimental
langsmith
langchain-core
langgraph
langchain-community
langchainhub
grandalf
anthropic
seaborn
transformers
httpx
pinecone-client
spacy
llama-index
pydantic
pymongo==4.7.2
motor
lark
langchain-chroma
langchain_cohere
sqlalchemy
sqlalchemy-bigquery
google-cloud-bigquery==2.34.3
google-cloud-bigquery[pandas]
certifi
streamlit
discord.py
trubrics[streamlit]